%p.get_beer
  - if current_user.pints.available.count > 0
    = link_to raw("#{pluralize(current_user.pints.available.count, 'Pint')} <br /> Redeem a pint"), redeem_path, :class => "button green phone_full_width"

%article
  - if flash[:error]
    = flash[:error]
  .spacer
  .signup
    .container_box
      .container_header
        %h3 Who will you buy a pint for?
      = form_tag(home_search_path, :method => :get, :remote => true, :id => "twitter_search")
      = text_field_tag 'q', {}, :class => "pint_input"
      .spacer
      #search-results
    .spacer
