- @users.each do |u|
  %a(href="/buy/#{u.screen_name}")
    %span
      = image_tag u.profile_image_url, :size => "100x100"
      %br
      %a(href="/buy/#{u.screen_name}")
        .big
          = "#{u.name} (@#{u.screen_name})"
